/.gradle/
/build/
/bin/
/out/
/.classpath
/.project
/*.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/RapidFramework.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/codeStyles/
/.idea/libraries/
/.idea/modules/
/.idea/.gitignore
/.idea/
/*.patch
.settings/org.eclipse.jdt.core.prefs
/.vscode/settings.json
